a{
    color: white;
}
body{
    background-color:#3a3730;
    color: white;
    font-family: 'Arial Rounded MT Bold';
}
header h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.menu-buttons{
    padding-top: 55px;
    background-color: #b5c6c6;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;;
    width: 400px;
    height: 400px;
}
.my-button:hover{
    border: 6px solid #0c2a60;
    background-color: #1f6777;
    width: 75%;
    height: 2.5em;
}
.my-button{
    font-size: 18px;
    padding-top: 0.6em;
    border: 4px solid #0c2a60;
    background-color: #243849;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    height: 2.2em;
    text-align: center;
    margin-bottom: 30px;
}

#rabbit-sprite {
    height: 64px;
    width: 64px;
    background: url("../images/sprites/spriteRabbit.png")
      0px 0px;
    animation: play 1s steps(1) infinite;
}
@keyframes play {
    0%, 33.33%{
      background-position: 0px 0px;
    }
    33.33%, 66.66% {
        background-position: 65px 0px;
    }
    66.66%, 100% {
        background-position: 130px 0px;
    }
}
#fox-sprite {
    height: 64px;
    width: 64px;
    background: url("../images/sprites/spriteFox.png")
      0px 0px;
    animation: play 1s steps(1) infinite;
}